{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Trade Data Catalogue</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'govuk-frontend.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styling/base-override.css' %}"
    />
    {% block styling %} {% endblock %}
  </head>

  <body class="govuk-template__body govuk-frontend-supported">
    {% block header %}
    <header
      class="govuk-header"
      role="banner"
      data-module="govuk-header"
      data-testid="navbar"
    >
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logotype">
          <a class="govuk-header__service-name"
            >The Department for Business and Trade Data Catalogue</a
          >
        </div>
        <nav aria-label="Top Level Navigation">
          <ul id="navigation" class="govuk-header__navigation">
            <li class="govuk-header__navigation-item">
              <a
                class="govuk-header__link"
                href="{% url 'dataset_catalogue_view' %}"
                >Dataset catalogue</a
              >
            </li>
            <li class="govuk-header__navigation-item">
              <a
                class="govuk-header__link"
                href="https://data.api.trade.gov.uk/"
                target="_blank"
                >Public Data API</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    {% endblock %}
    <main class="govuk-main-wrapper" id="main-content">
      {% block content %} {% endblock content %}
    </main>
    <script
      type="module"
      src="{% static 'js/govuk-frontend.min.js' %}"
    ></script>
    <script type="module">
      import { initAll } from "{% static 'js/govuk-frontend.min.js' %}";
      initAll();
    </script>
  </body>
</html>
